<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetOffice.Core" version="1.7.4-pre-jun-28-2015" targetFramework="net452" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net40" />
  <package id="NPOI" version="2.3.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
</packages>